/out

/html

/latex

*.gcov

*.gcda

*.gcno

*.la

*.lo

.*

cppunit.xmL

config.h

config.log

config.status

test/testsuit

*.log

*.trs

*.Po

*.o

*.a

bcc/bcc

autom4te.cache

Makefile

stamp-h1

.deps

/nbproject

/*~

/*.gz

src/testsuit
