/out
.sonar
.scannerwork
bcc/bcc
*.gcov
.dirstamp
*.gcda

*.gcno

*.la

*.lo
.libs
.DS_Store

cppunit.xmL

config.h

config.log

config.status

*.log

*.trs

*.Po

*.o

*.a

autom4te.cache

Makefile

stamp-h1

.deps

/*~

